body{
    max-width: 100%;
     margin-left:3%;
     margin-right:3%;
     font-size: 17px;
     color: black;
     line-height: 2;
     padding:5%;
     background-color: white;
}

 a:link, a:visited{
    text-decoration: underline;
     font-weight: bolder;
     color:black;

}

 a:hover, a:focus, a:active{
    color:black;
    text-decoration: underline;
     transition: .2s ease;
     font-weight: bolder;
}


#cp{
  filter: grayscale(0%);
}

 .skip {
     position: absolute;
     top: -1000px;
     left: -1000px;
     height: 1px;
     width: 1px;
     text-align: left;
     overflow: hidden;
}

 a.skip:active, a.skip:focus, a.skip:hover {
     left: 0;
     top: 0;
     width: auto;
     height: auto;
     overflow: visible;
}
 .container{
     height: auto;
     grid-template-columns: repeat(autofill, minmax(20vw, 1fr));
}

 .sub{
     margin-bottom: 8%;
}


 h1{
     font-size: 250%;
     font-family: 'Source Sans Pro';
     margin-left: 20%;
     margin-right: 20%;
    font-weight: 600;

}
 h2{
     font-size: 140%;
     font-family: 'Source Sans Pro';
     color: #565656;
     font-weight: 300;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: -.7em;
}
 h3{
     font-size: 160%;
     font-family: 'Source Sans Pro';
     font-weight:600;
     margin-bottom: 5px;
     margin-top: 30px;
     margin-left: 20%;
     margin-right: 20%;
}
 h4{
     font-size: 140%;
     font-family: 'Source Sans Pro', bold;
     /* margin-top: 30px; */
     margin-left: 20%;
     margin-right: 20%;
}
 h5{
     font-size: 120%;
     font-family: 'Source Sans Pro', bold;
     margin-left: 20%;
     margin-right: 20%;
}


 .quotes{
     font-style: italic;
     color: gray;
     font-size: 120%;
}
 p{
     font-family: "Merriweather";
     font-weight: 300;
     font-size: 100%;
     margin-left: 20%;
     margin-right: 20%;
     margin-bottom: 3%;
}
 ul{
     font-family: "Merriweather";
}
 ol{
     font-family: "Merriweather";
     margin-left: 15%;
     margin-right: 15%;
     margin-bottom: 2%;
}
 ol li{
     margin-bottom: 1em;
}
 img {
     width: 100%;
     height: 100%;
}

 .gradient-text{
   font-family: "Merriweather";
   background-color: #d9e4f5;
   background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
 }

 .gradient-text:hover{
   text-decoration: none;
 }

 .desc-main{
     padding-bottom: 5%;
}

.desc-main h1{
      font-family: "Lato";
      font-size: 4em;
      text-align: left;
      line-height: 3;
}

.desc-main h2{
  font-size: 2em;
  text-align: left;
  font-family: "Source Sans Pro";
  font-weight:lighter;
  line-height: 1.5;
}

.desc-main h2:after {
  content: '|';
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

 .shrink {
     width:80%;
     text-align: center;
     margin: auto;
     padding: .5em;
}
 .small {
     width:60%;
     text-align: center;
     margin: auto;
     padding: .5em;
}
 .desc a{
     font-size: .7em;
}
 .unicorn{
     text-align: center;
     margin: auto;
     padding: 10px;
}
 .unicorn video{
     top: 0;
     bottom: 0;
     width: 100%;
     height: auto;
    /* overflow: hidden;
     */
}
 .video{
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
 .video video{
     width: 100%;
}
 .video2{
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
 .video2 video{
     width: 100%;
}
 #color{
     width: 70%;
}
 .center{
     text-align: center;
     margin: auto;
     padding: 10px;
    /* font-size: 200%;
     */
}

 .box{
     box-sizing: border-box;
     margin-top: 20px;
}
 a.button{
   text-decoration: none;
   font-family: "Source Sans Pro";
   font-weight: 300;
   border: 1px solid #d9e4f5;
   background-color: white;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
}
  .info {
    border-color: #d9e4f5;
  }

  .info:hover {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    color: white;
  }

 .margin{
     margin-left: 13%;
     margin-right: 13%;
     margin-bottom: 3%;
}
 main{
     margin:auto;
     padding-bottom: 50px;
     min-height:100%;
     position: relative;
}
 footer{
     margin-top: 5%;
     margin-bottom: -10%;
     text-align: center;
     font-size: 80%;
}

 i{
     font-size: 1.5em;
     padding: 2%;
}
 a i:focus, a i:hover{
     color:#FDE7F9;
}
 nav ul {
     font-size: 110%;
     font-family: "Lato";
     list-style-type: none;
     overflow: hidden;
     text-align: right;
     display: inline;
     color: #545454;
}
nav li a:link, nav li a:visited{
  font-weight: 400;
  text-decoration: none;
       color: #545454;
}
nav li a:hover{
  text-decoration: underline;
}

nav li a.current{
    color:black;
    border:3px;
    font-weight: bolder;
}



.round img{
   border-radius: 2%;
}
 .six-grid{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   align-items: baseline;
   grid-column-gap: 2em;
   padding: 5%;
 }

 .six-grid div img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);

 }
 .six-grid div img:hover,:focus{
   filter: grayscale(0%);
   height: auto;
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }



 footer p{
   font-family: "Source Sans Pro";
   color:#545454;
 }
 footer a i{
   color:#545454;
 }

 .footer a:focus, .footer a:hover{
     color:#FDE7F9;
}
 .ca{
     width: 70%;
     height:auto;
     padding-bottom: 5%;
}

/* .parent {
     position: relative;
     top: 0;
     left: 0;
}
 .image1 {
     position: relative;
     width: 115%;
     top: -5px;
     left: -10px;
}
 .image2 {
     position: absolute;
     top: 0;
     left: 0;
}
 */
 .icon{
     width: 20%;
     padding: 5%;
}
 .row{
     display: grid;
     grid-template-columns: 2.5fr .5fr;
}
 .thirds p{
     font-family: "Merriweather";
}



 .arts div img {
   width: 60%;
   height: auto;
   margin: 10px;
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }

 .arts div img:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
 }

 .card{
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }

 .card:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
   opacity: .8;
 }

 .modal {
 z-index:1;
 display:none;
 position:fixed;
 padding-top: 20px;
 left:0;
 top:0;
 width:100%;
 height:100%;
 overflow:scroll;
 background-color:rgb(0,0,0);
 background-color:rgba(0,0,0,0.9)
 }

 .modal-content{
   display: block;
   margin: auto;
  width: 100%;
  height: auto;
  max-width: 40%;

 }


 .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
 }

 .close:hover,
 .close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
 }

 .modal-content, #caption {

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


/* @media screen (min-device-width:0px) and (min-width:0px) and (max-width:700px){ */
  #menutoggle {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  float:right;
  }
  nav {
  display: none;
  }
  nav.open {
  display: block;
  }
/* } */



@media screen and (min-device-width:700px) and (min-width:700px) and (max-width:1000px){
  #menutoggle {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  float:right;
  }
  nav {
  display: none;
  }
  nav.open {
  display: block;
  }

   .desc-main{
       padding-bottom: 5%;
  }

  .desc-main h1{
        font-family: "Lato";
        font-size: 3em;
        text-align: left;
        line-height: 3;
  }

  .desc-main h2{
    font-size: 2em;
    text-align: left;
    font-family: "Source Sans Pro";
    font-weight:lighter;
    line-height: 1.5;
  }

  .desc-main h2:after {
    content: '|';
    animation: blink 0.8s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .spotify{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center;
    padding-left: 10%;
    padding-right: 3%;
  }

   .arts {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     grid-gap: 2em;
   }
     .scenario{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
    }

     .personas{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
    }
     .graphs{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         width: 80%;
         margin: auto;
         text-align: center;
    }
     .graphs div img{
         width: 80%;
    }
    nav ul {
        list-style-type: none;
        overflow: hidden;
   }
   nav li a:link{
     font-weight: 400;
   }

    .thirds{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items:flex-start;
        margin-left: 10%;
        margin-right: 5%;
   }

    .thirds video{
        width: 100%;
        height: auto;
   }
     .thirds p{
         font-family: "Merriweather";
        /* font-size: 80%;
         */
    }

}

@media screen and (min-device-width:1000px) and (min-width:1000px){
  #menutoggle {
  display: none;
}
  nav {
  display:block;
  }
  .spotify{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center;
    padding-left: 10%;
    padding-right: 3%;
  }

   .arts {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     grid-gap: 2em;
   }
    .unicorn video{
        top: 0;
        bottom: 0;
        width: 80%;
        height: auto;
       /* overflow: hidden;
        */
   }
    .scenario{
       /* margin-top: 5%;
        */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5%;
        margin-right: 5%;
   }

    .personas{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
   }
    .graphs{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
   }
    .graphs div img{
        width: 80%;
        height: auto;
        padding: 10%;
   }
    .starlogo{
        width: 50%;
        height: auto;
   }
    .video2{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-column-gap: 100px;
        width: 70%;
        padding-bottom: 5%;
        text-align: center;
        margin: auto;
   }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-left: 5%;
        margin-right: 5%; */
       /* grid-row-gap: .3em;
       . */
   }
    .container div{
        padding: 4%;
   }
   .container div h4{
     margin-top: -1%;
     margin-left: -1%;
     text-align: left;
   }
    .three{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 7%;
        margin-right: 7%;
   }
   /* .four{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-left: 7%;
        margin-right: 7%;
   }
    */
   /* .container div:nth-child(odd) {
        padding-top: 10%;
   }
    */
   /* .container p{
        color: gray;
        font-family: "Source Sans Pro";
        margin-top: -.6em;
   }
    .container h2 a{
        font-family: "Muli";
        font-size: 80%;
   }
    */
    nav ul {
        list-style-type: none;
        overflow: hidden;
        font-family: "Lato";

   }
   nav li{
     float: right;
     display: inline-block;
     width: 7%;
     text-align: center;
   }
   nav li a{
     font-weight: 400;
   }
    /* .nav-left {
        float: left;
   }
    .nav-left ul li {
        float: left;
   }
    .nav-right ul li {
        float: right;
        width: 10%;
        text-align: center;
   } */
    .thirds{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items:flex-start;
        grid-column-gap: 5%;
   }
    .thirds video{
        width: 100%;
        height: auto;
   }
    .thirds p{
        font-family: "Merriweather";
       /* font-size: 80%;
        */
        margin-bottom: 2em;
       /* margin: 3em;
        */
   }
   .thirds > #uno{
     order:1
   }
   .thirds > #dos{
     order:3
   }
   .thirds > #tres{
     order:2
   }
    .right-aligned{
        text-align: right;
   }
    .left-aligned{
        text-align: left;
   }

    .desc-main{
        margin-left: -3%;
        margin-right: -10%;
        width: 70%;
        /* padding-top: 5%; */
        padding-bottom: 5%;
   }

   .desc-main h1{
         font-family: "Lato";
         font-size: 4em;
         text-align: left;
         line-height: 3;
   }

   .desc-main h2{
     /* background: -webkit-linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
     -webkit-background-clip:text;
     -webkit-text-fill-color: transparent; */
     font-size: 2em;
     text-align: left;
     font-family: "Source Sans Pro";
     font-weight:lighter;
     line-height: 1.5;
   }

   .desc-main h2:after {
     content: '|';
     animation: blink 0.8s infinite;
   }

   @keyframes blink {
     0%, 100% {
       opacity: 1;
     }
     50% {
       opacity: 0;
     }
   }
   .sticky {
     margin-left: -15%;
     position: fixed;
     z-index:1;
     top: 0;
     width: 100%;
   }

}
