@import url('https://use.typekit.net/ygf2siq.css');

body{
    max-width: 100%;
    margin-left:3%;
    margin-right:3%;
    font-size: 17px;
    color: black;
    line-height: 2;
    padding:5%;
    background-color: white;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto-Slab';
}

p, ul, ol {
	font-family: "Merriweather";
}

h1 {
    font-size: 250%;
    font-weight: 600;
	color: #D8BFD8;
}

h2 {
	font-size: 140%;
	color: #565656;
	font-weight: 300;
	margin-top: -.7em;
}

h3 {
	font-size: 160%;
	font-weight:600;
	margin-bottom: 5px;
	margin-top: 30px;
}

h4 {
	font-size: 140%;
	font-style: normal;
}

h5 {
    font-size: 120%;
    font-style: normal;
}

p {
    font-weight: lighter;
    font-size: 100%;
    margin-bottom: 3%;
}

ul {
	margin-left: 25%;
	margin-right: 25%;
}

ol {
    margin-bottom: 2%;
}

ol li{
     margin-bottom: 1em;
}

img {
    width: 100%;
    height: 100%;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bolder;
	color:#3e527a;
}

a:hover, a:focus, a:active {
    color:black;
    text-decoration: underline;
    transition: .2s ease;
    font-weight: bolder;
}

#cp {
	filter: grayscale(0%);
}

#color {
    width: 70%;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.skip {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
}

a.skip:active, a.skip:focus, a.skip:hover {
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: visible;
}

.container{
    height: auto;
    grid-template-columns: repeat(autofill, minmax(20vw, 1fr));
}

.sub{
    margin-bottom: 8%;
}

.quotes{
    font-family: "source sans pro";
    font-weight:100;
    font-style: italic;
    color: gray;
    font-size: 120%;
    margin-top: 3%;
}

.gradient-text{
   font-family: "Merriweather";
   background-color: #F6F4FF;
}

.gradient-text:hover{
   text-decoration: none;
}

.bold{
    font-family: "Source Sans Pro";
    font-weight: 600;
}

.desc-main{
    padding-bottom: 5%;
}

.desc-main h1{
    font-family: "Lato";
    font-size: 4em;
    text-align: left;
    line-height: 3;
}

.desc-main h2{
  font-size: 2em;
  text-align: left;
  font-family: "Source Sans Pro";
  font-weight:lighter;
  line-height: 1.5;
}

.desc-main h2:after {
  content: '|';
  animation: blink 0.8s infinite;
}

.shrink {
    width:80%;
    text-align: center;
    margin: auto;
    padding: .5em;
}

.small {
	width:60%;
	text-align: center;
	margin: auto;
	padding: .5em;
}

.desc a{
    font-size: .7em;
}

.unicorn{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.unicorn video{
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.video{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video video{
    width: 100%;
}

.video2{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video2 video{
    width: 100%;
}

.center{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.box{
    box-sizing: border-box;
    margin-top: 20px;
}

a.button{
   text-decoration: none;
   font-family: "Source Sans Pro";
   font-weight: 300;
   border: 1px solid #d9e4f5;
   background-color: white;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
}

.info {
    border-color: #d9e4f5;
}
  
.info:hover{
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    color: white;
}

.margin{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
}
main{
    margin:auto;
    padding-bottom: 50px;
    min-height:100%;
    position: relative;
}

footer{
    margin-top: 5%;
    margin-bottom: -10%;
    text-align: center;
    font-size: 80%;
}

i{
    font-size: 1.5em;
    padding: 2%;
}

a i:focus, a i:hover{
    color:#FDE7F9;
}

nav ul {
    font-size: 110%;
    font-family: "Source Sans Pro";
    list-style-type: none;
    overflow: hidden;
    text-align: right;
    display: inline;
    color: #545454;
}

nav li a:link, nav li a:visited{
	font-weight: 400;
	text-decoration: none;
	color: #545454;
}

nav li a:hover{
  text-decoration: underline;
}

nav li a.current{
    color:black;
    border:3px;
    font-weight: bolder;
}

.round img{
   border-radius: 2%;
}

footer p{
   font-family: "Source Sans Pro";
   color:#545454;
   margin:auto;
}

footer a i{
   color:#545454;
}

.footer a:focus, .footer a:hover{
    color:#FDE7F9;
}

.ca{
    width: 70%;
    height:auto;
    padding-bottom: 5%;
}

.icon{
    width: 20%;
    padding: 3%;
}

.row{
    display: grid;
    grid-template-columns: 2.5fr .5fr;
}

.thirds p{
    font-family: "Merriweather";
}

.break-margin{
	margin:auto;
	text-align: center;
	padding-bottom: 3%;
}

.arts div img {
   width: 60%;
   height: auto;
   margin: 10px;
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.arts div img:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

.modal {
	z-index:1;
	display:none;
	position:fixed;
	padding-top: 20px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:scroll;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9)
}

.modal-content{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 40%;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#menutoggle {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
	float:right;
}

nav {
	display: none;
}

nav.open {
	display: block;
}

.shareu video{
	margin:auto;
	width: 100%;
	height: 100%;
}


@media screen and (min-device-width:700px) and (min-width:700px) and (max-width:1000px){

	h1{
		font-size: 250%;
		margin-left: 20%;
		margin-right: 20%;
		font-weight: 600;
	}
	
	h2{
		font-size: 140%;
		color: #565656;
		font-weight: 300;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: -.7em;
	}
	
	h3{
		font-size: 160%;
		font-weight:600;
		margin-bottom: 5px;
		margin-top: 30px;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	h4{
		font-size: 140%;
		font-weight: 600;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	h5{
		font-size: 120%;
		font-weight: 600;
		margin-left: 20%;
		margin-right: 20%;
	}

	p{
		font-weight: lighter;
		font-size: 100%;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 3%;
	}
	
	ol{
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 2%;
	}
	
	ol li{
		margin-bottom: 1em;
	}

	.six-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: baseline;
		grid-column-gap: 2em;
		padding: 5%;
	}

	.six-grid div img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	
	.six-grid div img:hover,:focus{
		filter: grayscale(0%);
		height: auto;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	
	.icon{
		width: 50%;
		margin-right: -100%;
		padding-right: -5%;
	}
	
	#menutoggle {
		display: inline-block;
		vertical-align: middle;
		margin-left: 1rem;
		float:right;
	}
	
	nav {
		display: none;
	}
	
	nav.open {
		display: block;
	}

	.desc-main{
		padding-bottom: 5%;
	}

	.desc-main h1{
		font-family: "Lato";
		font-size: 3em;
		text-align: left;
		line-height: 3;
	}

	.desc-main h2{
		font-size: 2em;
		text-align: left;
		font-family: "Source Sans Pro";
		font-weight:lighter;
		line-height: 1.5;
	}

	.desc-main h2:after {
		content: '|';
		animation: blink 0.8s infinite;
	}

	@keyframes blink {
		0%, 100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	.spotify{
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items:center;
		padding-left: 10%;
		padding-right: 3%;
	}

	.arts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 2em;
	}
	
	.scenario{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.personas{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.graphs{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		width: 80%;
		margin: auto;
		text-align: center;
	}
	
	.graphs div img{
		width: 80%;
	}
	
	nav ul {
		list-style-type: none;
		overflow: hidden;
	}
	
	nav li a:link{
		font-weight: 400;
	}

	.thirds{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items:flex-start;
		margin-left: 10%;
		margin-right: 5%;
	}

	.thirds video{
		width: 100%;
		height: auto;
	}
	
	.thirds p{
		font-family: "Merriweather";
	}
}


@media screen and (min-device-width:1000px) and (min-width:1000px){
	h1{
		font-size: 250%;
		margin-left: 20%;
		margin-right: 20%;
		font-weight: 600;
	}
	
	h2{
		font-size: 140%;
		color: #565656;
		font-weight: lighter;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: -.7em;
	}
	
	h3{
		font-size: 160%;
		margin-bottom: 5px;
		margin-top: 30px;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	h4{
		font-size: 140%;
		font-weight: 600;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	h5{
		font-size: 120%;
		font-weight: 600;
		margin-left: 20%;
		margin-right: 20%;
	}

	p{
		font-weight: 300;
		font-size: 100%;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 3%;
	}
	
	ol{
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 2%;
	}
	
	ol li{
		margin-bottom: 1em;
	}
	
	.five-grid{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: baseline;
		grid-column-gap: 2em;
		padding: 5%;
	}

	.five-grid p, .five-grid h4{
		margin:auto;
	}
	
	.six-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items:flex-end;
		grid-row-gap: 2em;
		grid-column-gap: 2em;
		padding: 5%;
		text-align: left;
		margin-left: 10%;
	}

	.six-grid div{
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	
	.six-grid div:hover,:focus{
		filter: grayscale(0%);
		height: auto;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	.four-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: baseline;
		grid-column-gap: 2em;
		margin-left: 15%;
		margin-right: 15%;
	}

	.four-grid div p{
		margin:auto;
		font-size: .9em;
	}
	
	.four-grid div i{
		margin:auto;
		align-items: center;
		text-align: center;
	}
	
	#menutoggle {
		display: none;
	}
	
	nav {
		display:block;
	}
	
	.spotify{
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items:center;
	}
	
	.spotify div img{
		margin-left: 30%;
	}

	.arts {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		grid-gap: 2em;
	}
	
	.unicorn video{
		top: 0;
		bottom: 0;
		width: 80%;
		height: auto;
	}
	
	.shareu video{
		top: 0;
		bottom: 0;
		width: 30%;
		height: auto;
	}
	
	.scenario{
		display: grid;
		grid-template-columns: 1fr 3fr;
	}

	.personas{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5%;
	}
	
	.graphs{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.graphs div img{
		width: 80%;
		height: auto;
		padding: 10%;
	}
	
	.starlogo{
		width: 50%;
		height: auto;
	}
	
	.video2{
		display:grid;
		grid-template-columns:repeat(2, 1fr);
		grid-column-gap: 100px;
		width: 70%;
		padding-bottom: 5%;
		text-align: center;
		margin: auto;
	}
	
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap:1em;
	}
	
	.container div img{
		width: 100%;
		height: auto;
	}
	
	.container div{
		padding: 4%;
	}

	.three{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-column-gap: 2em;
		margin-left: 15%;
		margin-right: 15%;
	}
	
	.three p{
		margin:auto;
		font-size: .9em;
	}

	.three h4{
		margin:auto;
	}

	nav ul {
		list-style-type: none;
		overflow: hidden;
		font-family: "Source Sans Pro";
	}
	
	nav li{
		float: right;
		display: inline-block;
		width: 7%;
		text-align: center;
	}
	
	nav li a{
		font-weight: 400;
	}

	.thirds{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items:flex-start;
		grid-column-gap: 5%;
	}
	
	.thirds video{
		width: 100%;
		height: auto;
	}
	
	.thirds p{
		font-family: "Merriweather";
		margin-bottom: 2em;
	}

	.thirds > #uno{
		order:1
	}
	
	.thirds > #dos{
		order:3
	}
	
	.thirds > #tres{
		order:2
	}
	
	.right-aligned{
		text-align: right;
	}
	
	.left-aligned{
		text-align: left;
	}

	.desc-main{
		margin-left: -15%;
		margin-right: -10%;
		width: 95%;
		padding-bottom: 5%;
	}

	.desc-main h1{
		font-family: "Lato";
		font-style: normal;
		font-weight: 400;
		font-size: 4em;
		text-align: left;
		line-height: 3;
	}

	.desc-main h2{
		font-size: 2em;
		text-align: left;
		font-family: "Source Sans Pro";
		font-weight:lighter;
		line-height: 1.5;
	}

	.desc-main h2:after {
		content: '|';
		animation: blink 0.8s infinite;
	}

	@keyframes blink {
		0%, 100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
	.sticky {
		margin-left: -15%;
		position: fixed;
		z-index:1;
		top: 0;
		width: 100%;
	}

	.wrap {
		width: 100%;
		height: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: default;
	}

	.wrap .caption {
		background-color: white;
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		display: table;
		opacity: 0;
	}

	.caption h3, .caption p{
		color:black;
		background-color: white;
	}

	.wrap:hover .caption {
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		visibility: visible;
		opacity: .8;
	}

	.text-two-column {
		margin-left: 20%;
		margin-right:20%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.text-two-column h4,  .text-two-column h5,  .text-two-column p{
		margin: auto;
	}
	
	.text-two-column ul{
		margin-left: 10%;
		margin-right: 10%;
	}
}
